version: '3.3'

services:
  myubuntu:
    image: namenode
    container_name: namenode
    volumes:
    - ./NameNode/test/:/root/test
    ports:
      - '10022:22'
      - '10080:80'
      - '18080:8080'
    expose:
      - '10022'
      - '10080'
      - '18080'
